<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> D- CLIC | UI / UX </title>
    <link rel="stylesheet" href="./public/css/style.css">
    <link rel="icon" type="image/x-icon" href="/public/image/burn-cd.png">
</head>

<body>

    <div class="container">
        <div class="menu">
            <ul>
                <li class="logo">
                    <a href="/"><img src="./public/image/sayna.jpg"></a>
                </li>
                <li><a href="/">Home</a></li>
                <li><a href="/backend">BackEnd</a></li>
                <li><a href="/frontend">FrontEnd</a></li>
                <li><a href="/d-marketing">Marketing Digital</a></li>
                <li><a href="/ui-ux">UX/UI</a></li>
                <li><a href="/contact">Contact</a></li>
                <!-- <li> <a href = "#" class="signup-btn"> <span> Sign Up </span> </a> </li> -->
            </ul>

        </div>

        <div class="banner">

            <div class="app-text">
                <h2> D-CLIC <br> Venez avec nous pour offrir une bonne optimisation, satisfaction et comprendre l'attente de l'utilisateur. </h2>
                <p>Ici c'est l’interaction entre un utilisateur et <br> les éléments de conception d’une application</p>
                <div class="play-btn">
                    <div class="play-btn-inner">

                    </div>
                </div>
            </div>

            <div class="app-picture-uxui">
                <img src="./public/image/image_ux_ui.jpg">

            </div>

            <body>

                <div class="flip-box">
                    <div class="flip-box-inner">
                        <div class="flip-box-front">
                            <h2>Avis des utilisateurs sur le ui/ux</h2>
                        </div>
                        <div class="flip-box-back">
                            <h2>Suite</h2>
                        </div>
                    </div>
                </div>

            </body>




        </div>
    </div>

</body>

</html>